{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 120,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "tabWidth": 2,
        "htmlWhitespaceSensitivity": "css"
      }
    }
  ]
}
