@use 'utilities/colors' as colors;
@use 'utilities/media' as *;

.public-footer {
  width: 100%;
  border-top: 1px solid colors.$color-gray-3;

  &__сontainer {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(24px, 4vw, 48px);

    @include mobile(down) {
      min-height: 65px;
      justify-content: center;
    }
  }

  &__copyright {
    color: colors.$color-gray-7;
    line-height: 20px;
    margin: 0;
  }
}
