$color-gray-1: #fbf8f6;
$color-gray-2: #8f97a5;
$color-gray-3: #e7e2dd;
$color-gray-4: #d8d0c8;
$color-gray-5: #f1ede9;
$color-gray-6: #f8f4f1;
$color-gray-7: #7b8593;

$color-white-1: #fefcfa;

$color-black-1: #182235;

$color-blue-1: #5c82aa;

$box-shadow-1: 0 4px 24px rgba(24, 34, 53, 0.06);

