<fl-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fl-form-input
    [label]="'auth.sign_up.username_label' | transloco"
    [prefixSvgIcon]="'user-gray'"
    [placeholder]="'auth.sign_up.username_placeholder' | transloco"
    formControlName="username"
  />
  <fl-form-input
    type="email"
    [label]="'auth.sign_up.email_label' | transloco"
    [prefixSvgIcon]="'mail'"
    [placeholder]="'auth.sign_up.email_placeholder' | transloco"
    formControlName="email"
  />
  <fl-form-input
    type="password"
    [label]="'auth.sign_up.password_label' | transloco"
    [prefixSvgIcon]="'lock'"
    [suffixSvgIcon]="'eye'"
    [placeholder]="'auth.sign_up.password_placeholder' | transloco"
    formControlName="password"
  />
  <fl-form-password-strength [password]="form.controls.password.value" />

  <fl-form-input
    type="password"
    [label]="'auth.sign_up.confirm_password_label' | transloco"
    [prefixSvgIcon]="'lock'"
    [suffixSvgIcon]="'eye'"
    [placeholder]="'auth.sign_up.confirm_password_placeholder' | transloco"
    formControlName="confirmPassword"
  />

  <fl-button
    type="submit"
    [loading]="loading()"
    variant="primary"
    [disabled]="!form.valid"
    [suffixIcon]="'arrow-forward'"
  >
    {{ 'auth.sign_up.submit' | transloco }}
  </fl-button>
</fl-form>

<app-auth-ui-divider />

<app-auth-actions-google />
