<fl-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fl-form-input
    [label]="'auth.signUp.usernameLabel' | transloco"
    [prefixSvgIcon]="'user-gray'"
    [placeholder]="'auth.signUp.usernamePlaceholder' | transloco"
    formControlName="username"
  />
  <fl-form-input
    type="email"
    [label]="'auth.signUp.emailLabel' | transloco"
    [prefixSvgIcon]="'mail'"
    [placeholder]="'auth.signUp.emailPlaceholder' | transloco"
    formControlName="email"
  />
  <fl-form-input
    type="password"
    [label]="'auth.signUp.passwordLabel' | transloco"
    [prefixSvgIcon]="'lock'"
    [suffixSvgIcon]="'eye'"
    [placeholder]="'auth.signUp.passwordPlaceholder' | transloco"
    formControlName="password"
  />
  <fl-form-password-strength [password]="form.controls.password.value ?? ''" />

  <fl-form-input
    type="password"
    [label]="'auth.signUp.confirmPasswordLabel' | transloco"
    [prefixSvgIcon]="'lock'"
    [suffixSvgIcon]="'eye'"
    [placeholder]="'auth.signUp.confirmPasswordPlaceholder' | transloco"
    formControlName="confirmPassword"
  />

  <fl-button type="submit" variant="primary" [suffixIcon]="'arrow-forward'">
    {{ 'auth.signUp.submit' | transloco }}
  </fl-button>
</fl-form>

<app-auth-ui-divider />

<app-auth-actions-google />
