<div class="auth-forgot-password-resend-code">
  <div class="auth-forgot-password-resend-code__container">
    <span class="auth-forgot-password-resend-code__container__text">
      {{ 'auth.forgot_password.resend_text' | transloco }}
    </span>
    <fl-button [loading]="loading()" (btnClicked)="resendCode()" variant="text">
      {{ 'auth.forgot_password.resend_action' | transloco }}
    </fl-button>
  </div>

  @if (retryAfterSeconds() > 0) {
    <app-auth-ui-retry-hint
      [customStyles]="'margin: 0; text-align: start;'"
      [hint]="'auth.forgot_password.retry_hint'"
      [seconds]="retryAfterSeconds()"
    />
  }
</div>
