@use 'utilities/colors' as colors;

.private-header-burger {
  &__lines {
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
  }

  &__line {
    width: 18px;
    height: 2px;
    border-radius: 24px;
    background-color: colors.$color-black-1;
    transition: transform 180ms ease, opacity 140ms ease;
  }

  &--opened {
    .private-header-burger__line {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: scaleX(0);
      }

      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
