@use '@angular/material' as mat;
@use 'utilities/colors' as colors;

html {
  @include mat.theme((
    typography: (
      plain-family: 'Inter',
      brand-family: 'Inter',
    ),
  ));
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: colors.$color-gray-1;
  color: colors.$color-black-1;

  a {
    color: colors.$color-black-1;
  }
}

* {
  box-sizing: border-box;
}
