@if (passwordChanged()) {
  <app-auth-forgot-password-reset-success />
} @else {
  <fl-card>
    <app-auth-forgot-password-header
      [icon]="'shield-blue'"
      [title]="'auth.forgot_password.reset_title'"
      [description]="'auth.forgot_password.reset_description'"
    />
    <fl-card-content>
      <app-auth-forgot-password-reset-form (submitClicked)="onSubmit($event)" />
    </fl-card-content>
    <fl-card-actions>
      <app-auth-forgot-password-actions-backward />
    </fl-card-actions>
  </fl-card>
}
