<fl-card>
  <fl-card-header>
    <app-auth-forgot-password-icon-status [showSuccess]="true" [iconName]="'checkmark'" />
    <fl-card-title>{{ 'auth.forgot_password.success_title' | transloco }}</fl-card-title>
    <fl-card-subtitle>
      {{ 'auth.forgot_password.success_description' | transloco }}
    </fl-card-subtitle>
  </fl-card-header>
  <fl-card-actions>
    <fl-button (btnClicked)="navigateToSignIn()" [suffixIcon]="'arrow-forward'">
      {{ 'auth.forgot_password.success_action' | transloco }}
    </fl-button>
  </fl-card-actions>
</fl-card>
