<fl-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fl-form-input
    type="email"
    label="Email address"
    [prefixSvgIcon]="'mail'"
    placeholder="you@example.com"
    formControlName="email"
  />
  <fl-form-input
    type="password"
    label="Password"
    [prefixSvgIcon]="'lock'"
    [suffixSvgIcon]="'eye'"
    placeholder="Enter your password"
    formControlName="password"
  />

  <div class="auth-sign-in-form__options">
    <fl-form-checkbox formControlName="rememberMe">Remember me for 30 days</fl-form-checkbox>

    <fl-button variant="text" [customStyles]="'font-weight: 500'">Forgot password?</fl-button>
  </div>

  <fl-button type="submit" variant="primary">Sign in</fl-button>
</fl-form>

<app-auth-ui-divider />

<fl-button type="button" variant="secondary" [icon]="'google'">Continue with Google</fl-button>
