<fl-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fl-form-input
    type="email"
    [label]="'auth.sign_in.email_label' | transloco"
    [prefixSvgIcon]="'mail'"
    [placeholder]="'auth.sign_in.email_placeholder' | transloco"
    formControlName="email"
  />
  <fl-form-input
    type="password"
    [label]="'auth.sign_in.password_label' | transloco"
    [prefixSvgIcon]="'lock'"
    [suffixSvgIcon]="'eye'"
    [placeholder]="'auth.sign_in.password_placeholder' | transloco"
    formControlName="password"
  />

  @if (showUnverifiedWarning()) {
    <app-auth-sign-in-unverified-account />
  }

  <div class="auth-sign-in-form__options">
    <fl-form-checkbox formControlName="rememberMe">{{ 'auth.sign_in.remember_me' | transloco }}</fl-form-checkbox>

    <fl-button (btnClicked)="navigateToForgotPassword()" variant="text" [customStyles]="'font-weight: 500'">
      {{ 'auth.sign_in.forgot_password' | transloco }}
    </fl-button>
  </div>

  <fl-button [disabled]="!form.valid" [loading]="loading()" type="submit" variant="primary">
    {{ 'auth.sign_in.submit' | transloco }}
  </fl-button>
</fl-form>

<app-auth-ui-divider />

<app-auth-actions-google />
