<fl-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fl-form-input
    type="email"
    [label]="'auth.signIn.emailLabel' | transloco"
    [prefixSvgIcon]="'mail'"
    [placeholder]="'auth.signIn.emailPlaceholder' | transloco"
    formControlName="email"
  />
  <fl-form-input
    type="password"
    [label]="'auth.signIn.passwordLabel' | transloco"
    [prefixSvgIcon]="'lock'"
    [suffixSvgIcon]="'eye'"
    [placeholder]="'auth.signIn.passwordPlaceholder' | transloco"
    formControlName="password"
  />

  <div class="auth-sign-in-form__options">
    <fl-form-checkbox formControlName="rememberMe">{{ 'auth.signIn.rememberMe' | transloco }}</fl-form-checkbox>

    <fl-button variant="text" [customStyles]="'font-weight: 500'">
      {{ 'auth.signIn.forgotPassword' | transloco }}
    </fl-button>
  </div>

  <fl-button type="submit" variant="primary">{{ 'auth.signIn.submit' | transloco }}</fl-button>
</fl-form>

<app-auth-ui-divider />

<app-auth-actions-google />
