<fl-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fl-form-input
    formControlName="email"
    [prefixSvgIcon]="'mail'"
    [label]="'auth.forgot_password.email_label' | transloco"
    [placeholder]="'auth.forgot_password.email_placeholder' | transloco"
  />

  <fl-button type="submit" [loading]="loading()" [disabled]="!form.valid">
    {{ 'auth.forgot_password.submit' | transloco }}
  </fl-button>

  @if (retryAfterSeconds() > 0) {
    <span class="auth-forgot-password-form__retry-hint">
      {{ 'auth.forgot_password.retry_hint' | transloco: { sec: retryAfterSeconds() } }}
    </span>
  }
</fl-form>
