@use 'utilities/colors' as colors;

.auth-forgot-password-form {
  &__retry-hint {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;

    &__icon {
      width: 12px;
      height: 12px;
      font-size: 12px;
    }

    &__text {
      color: colors.$color-gray-7;
      font-size: 13px;
    }
  }
}
