@use 'utilities/colors' as colors;

.private-content-header {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
  }

  &__description {
    line-height: 20px;
    color: colors.$color-gray-10;
  }
}
