<fl-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fl-form-input
    formControlName="code"
    [maxLength]="6"
    [label]="'auth.forgot_password.code_label' | transloco"
    [placeholder]="'auth.forgot_password.code_placeholder' | transloco"
    [prefixSvgIcon]="'code'"
  />
  <fl-form-input
    formControlName="password"
    type="password"
    [label]="'auth.forgot_password.password_label' | transloco"
    [placeholder]="'auth.forgot_password.password_placeholder' | transloco"
    [prefixSvgIcon]="'lock'"
    [suffixSvgIcon]="'eye'"
  />
  <fl-form-password-strength [password]="form.controls.password.value" />

  <fl-form-input
    formControlName="confirmPassword"
    type="password"
    [label]="'auth.forgot_password.confirm_password_label' | transloco"
    [placeholder]="'auth.forgot_password.confirm_password_placeholder' | transloco"
    [prefixSvgIcon]="'lock'"
    [suffixSvgIcon]="'eye'"
  />

  <app-auth-forgot-password-resend-code />

  <fl-button [loading]="loading()" type="submit" [disabled]="!form.valid">
    {{ 'auth.forgot_password.reset_submit' | transloco }}
  </fl-button>
</fl-form>
