<fl-card>
  <fl-card-header>
    <app-auth-email-verification-icon-status />
    <fl-card-title>{{ 'auth.email_verification.title' | transloco }}</fl-card-title>
    <fl-card-subtitle>{{ 'auth.email_verification.description' | transloco }}</fl-card-subtitle>
    <app-auth-email-verification-email />
  </fl-card-header>
  <fl-card-content>
    <app-auth-email-verification-form />
    <app-auth-email-verification-resend-code />
    <app-auth-email-varification-notice />
  </fl-card-content>
</fl-card>
