<button
  class="fl-button"
  [type]="type()"
  [ngClass]="buttonClass()"
  [style]="customStyles()"
  [matButton]="appearance()"
  [disabled]="disabled() || loading()"
  [disableRipple]="variant() === 'text'"
  (click)="onClick()"
>
  <span class="fl-button__inner">
    <span class="fl-button__content">
      @if (loading()) {
        <mat-progress-spinner class="fl-button__spinner" diameter="18" mode="indeterminate" />
      }

      @if (prefixIcon(); as icon) {
        <mat-icon class="fl-button__icon fl-button__icon--prefix" [svgIcon]="icon" />
      }

      <ng-content />

      @if (suffixIcon(); as icon) {
        <mat-icon class="fl-button__icon fl-button__icon--suffix" [svgIcon]="icon" />
      }
    </span>
  </span>
</button>
