@use 'utilities/colors' as colors;

:host {
  .fl-button {
    &--text {
      ::ng-deep .mat-mdc-button-persistent-ripple {
        display: none !important;
      }
    }
  }
}

.fl-button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;

  &--primary {
    background-color: colors.$color-blue-1;
    color: colors.$color-white-1 !important;
    border: none;
  }

  &--secondary {
    background-color: colors.$color-white-1;
    color: colors.$color-black-1 !important;
    border: 1px solid colors.$color-gray-3 !important;

    &:hover:not(:disabled) {
      opacity: 0.8;
    }

    &:active:not(:disabled) {
      background-color: colors.$color-gray-6 !important;
    }
  }

  &--text {
    width: auto;
    height: auto;
    padding: 0;
    background: none;
    color: colors.$color-blue-2 !important;
    border: none;
    font-weight: 500;
    line-height: 20px;

    &:hover:not(:disabled) {
      opacity: 0.8;
    }

    &:active:not(:disabled) {
      color: colors.$color-blue-3 !important;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &__icon {
    width: 20px !important;
    height: 20px !important;;
    margin-right: 12px !important;;
    min-height: auto !important;;
  }
}
